/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
header {
    background-color: #0d0d0d;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-title a {
    text-decoration: none;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.page-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    font-weight: bold;
    color: white;
}

/* Scoreboard */
.scoreboard {
    display: flex;
    justify-content: space-around;
    background: white;
    border: 2px solid #777;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

/* Tables */
table {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    border-collapse: collapse;
}

th {
    background-color: #0d0d0d;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    border: 2px solid #777;
}

td {
    text-align: center;
    border: 2px solid #777;
    padding: 12px;
}

/* Footer */
footer {
    background-color: #0d0d0d;
    text-align: center;
    padding: 10px;
    color: white;
}
